#outcome {
    .source {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
       h4 {
        border-bottom: 1px solid #D6D9DD;
    
       }
        .mat-expansion-panel {
            border-radius: 0px !important;
            border-bottom: 1px solid #D6D9DD;
        }
        .mat-expansion-panel-header.mat-expanded ,.mat-expansion-panel-content{
            background-color: #EBF4F8;
            border-right: 5px solid #2E6995;
        }
        .mat-expansion-panel-header {
            border-radius: 0 !important;
            &:hover , &:focus{
                background-color: #EBF4F8 !important;
        
            }
        }
        .mat-expansion-panel-spacing {
            margin: 0px !important;
        }
    }
    
}